/* Font: Petrona, weight: light 100, normal 300, bold 500
Colors: dark-grey: hsl(210, 2%, 25%); blue: hsl(212, 50%, 80%); grey: hsl(53, 23%, 80%);
*/

body {
    background-image:url(background-middle.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    font-family: 'Petrona', serif;
    box-sizing: border-box;
    font-weight: 100;
    color: hsl(210, 2%, 25%);
    line-height: 1.3;
}

#overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: hsla(210, 2%, 25%, 0.25);
    z-index: -1;   
}

#container {
    width: 80%;
    height: fit-content;
    background-color: hsla(53, 23%, 85%, 0.5);
    border-radius: 1.5rem;
    margin: 3rem auto;
    display: grid;
    grid-template-rows: 20% 10% 70%;
    grid-template-columns: 100%;
}

#day {
    grid-row: 2;
    align-self: flex-end;
    text-align: center;
    margin: 2rem 4rem;    
}

#weekday {font-size: 2rem; font-weight: 500;}
#date{font-size: 1.5rem;}

#currentCity {    
    grid-row: 1;
    align-self: flex-end;
    text-align: center;
    margin: 2rem 4rem;    
}

#cityName {font-size: 3rem; font-weight: 500;}
#countryName {font-size: 1.5rem;}

#weatherRow {
    grid-row: 3/7;
    background-color: hsla(212, 10%, 50%, 0.9);
    border-bottom-left-radius: 1.5em;
    border-bottom-right-radius: 1.5rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding-top: 2rem;
    padding-bottom: 1rem;
    color: hsl(210, 2%, 90%);
}

.today .weatherImg {
    margin-left: auto;
    margin-right: auto;
    margin-top: 1.5rem;
    font-size: 60px;
}

.today .dayName {width: min-content; padding-left: 1em; padding-right: 1em;}
.today {flex-grow: 0; padding-top: 1.5em;}
.today .weather {display: inline-block;}

.day, .today {text-align: center; font-weight: 500;}
.day {display: flex; flex-direction: column; justify-items: center;}
.dayTemp {font-size: 1.5em; margin-top: 0.5em;}

.weather {
    max-width: 80px;
    font-size: 1em;
    font-weight: 100;
    display: block;
    margin-top: 0.3em;
    font-style: italic;
    text-transform: lowercase;    
    text-overflow: ellipsis;
}

.dayName {
    font-size: 1rem;
    text-transform: uppercase;
    background-color: hsla(213, 10%, 30%, 0.7);
    border-radius: 1em;
    padding: 0.2em 1em;
    margin: 0.5em 0;
}

a {color: hsl(212, 50%, 80%); text-decoration: none; font-weight: 500;}

footer {
    width: 100%;
    text-align: center;
    color: hsl(53, 23%, 90%);
    font-size: 1.5rem;
}

.weatherImg {
	margin-top: auto;
    font-size: 45px;
}

/* Dropdown icon */
.far {
    display: inline-block;
    margin-left: 10px;
    font-size: 20px;
    cursor: pointer;
    position: relative
}
.far:hover {transform: scale(1.3);};

#searchform {
    font-size: 1.1em;
    padding: 10px;
    width: max-content;
    height: max-content;
    font-weight: 500;
    position: relative;
    background-color: hsl(210, 2%, 90%);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

input {
    font-weight: 100;
    font-style: italic;
    font-size: 1em;
    font-family: 'Petrona', serif;
    margin-left: 50px;
    width: 25px;
    margin-bottom: 10px;
}

input:first-of-type {width: 90px; margin-left: 10px;}

#searchbtn {
    font-size: 0.8em;
    background-color: hsl(46, 61%, 57%);
    color:hsl(53, 23%, 90%); border: 2px solid hsl(46, 61%, 47%);
    border-radius: 0.3em; float: right;
}

#searchbtn:hover {background-color: hsl(46, 80%, 57%);}

/* Icon colors */

.fa-snowflake {color:hsl(213, 24%, 95%);}
.fa-cloud-showers-heavy {color: hsl(213, 24%, 70%);}
.fa-sun {color: hsl(46, 61%, 57%);}
.fa-cloud, .fa-smog {color: hsl(213, 5%, 70%);}
.fa-bolt {color: hsl(60, 48%, 68%);}

.hide {display: none;}

@media (min-width: 650px) {

    #container {
        width: 40rem;
        height: 25rem;
        grid-template-rows: 40% 60%;
        grid-template-columns: 25% 25% 25% 25%;
    }
    
    #day {
        grid-column: 1/3;
        grid-row: 1;
        text-align: left;           
    }
        
    #currentCity {
        grid-column: 3/5;
        grid-row: 1;
        text-align: right;   
    }

    #searchform {
        grid-column: 2/4;
        grid-row: 1;
        width: max-content;
        height: max-content;
        background-color: hsl(210, 2%, 90%);
        font-size: 1.1em;
        padding: 10px;    
        font-weight: 500;
        position: relative;
        justify-self: center;
        align-self: flex-end;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);    
    }
    
    #weekday {font-size: 2.5rem;}
    #date{font-size: 2rem;}
    #cityName {font-size: 2.5rem;}
    #countryName {font-size: 1.2rem;}
      
    #weatherRow {
        grid-column: 1/5;
        grid-row: 2;
        padding-top: 1rem;       
    }

    .today {flex-grow: 0.05; text-align: center;}
    .dayTemp {font-size: 1.5em;}
    .weather {font-size: 1em;}

    .weatherImg {
        font-size: 50px;
    }

    footer {font-weight: 300; color: hsl(53, 30%, 95%);}
    footer a {color: hsl(53, 30%, 85%); font-weight: 500;}
}

@media (min-width: 980px) {

    body {background-image:url(background.jpg);}

    #container {
        width: 60rem;
        height: 35rem;
        grid-template-rows: 35% 15% 50%;
        grid-template-columns: 33.33% 33.33% 33.33%;
    }
    
    #day {
        grid-column: 1;
        grid-row: 1;           
    }
        
    #currentCity {
        grid-column: 3;
        grid-row: 1;   
    }

    #cityName {font-size: 2.8rem;}
    #countryName {font-size: 1.8rem;}
        
    #weatherRow {
        grid-column: 1/4;
        grid-row: 3;    
        display: flex;
        flex-wrap: nowrap;
        justify-content: space-evenly;       
    }
    
    .dayTemp {font-size: 2rem;}
    .today {flex-grow: 0.15;}
    .weather {font-size: 1.2em;}
    .today .weatherImg {font-size: 80px;}

    .weatherImg {
        font-size: 60px;
    }

    #searchform {
        grid-column: 3;
        grid-row: 2;
        justify-self: center;
        align-self: flex-end;

    }

}
