/* Font: Petrona, weight: light 100, normal 300, bold 500
Colors: dark-grey: hsl(210, 2%, 25%); blue: hsl(212, 50%, 80%); grey: hsl(53, 23%, 80%);
*/

html {
    background-image:url(background.jpg);
    background-size: cover;
    font-family: 'Petrona', serif;
    box-sizing: border-box;
    font-weight: 100;
    color: hsl(210, 2%, 25%);
    line-height: 1.3;
}

#overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: hsla(210, 2%, 25%, 0.25);
    z-index: -1;   
}

#container {
    width: 60rem;
    height: 35rem;
    background-color: hsla(53, 23%, 85%, 0.5);
    border-radius: 1.5rem;
    margin: 3rem auto;
    display: grid;
    grid-template-rows: 35% 25% 40%;
    grid-template-columns: 33.33% 33.33% 33.33%;
}

#dateTime {
    grid-column: 1;
    grid-row: 1;
    align-self: flex-end;
    text-align: left;
    margin: 2em 4em;    
}
#time {font-size: 3em; font-weight: 500;}
#date{font-size: 2em;}

#currentCity {
    grid-column: 3;
    grid-row: 1;
    align-self: flex-end;
    text-align: right;
    margin: 2em 4em;    
}

#cityName {font-size: 2.5em; font-weight: 500;}
#countryName {font-size: 1.5em;}

#weatherRow {
    grid-column: 1/4;
    grid-row: 3;
    background-color: hsla(212, 10%, 50%, 0.9);
    border-bottom-left-radius: 1.5em;
    border-bottom-right-radius: 1.5rem;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    align-items: center;
    color: hsl(210, 2%, 90%);
}

.day {text-align: center; font-weight: 500;}
.day span {display: block;}
.today .weatherImg {float: left;}

.dayName {
    font-size: 1em;
    text-transform: uppercase;
    background-color: hsla(213, 10%, 30%, 0.7);
    border-radius: 1em;
    padding: 0.2em 0.8em;
    margin: 0.5em 0;
}

.dayTemp {font-size: 2.5em;}

a {color: hsl(212, 50%, 80%); text-decoration: none; font-weight: 500;}

footer {
    width: 100%;
    text-align: center;
    color: hsl(53, 23%, 90%);
    font-size: 20px;
}

/* Weather icons: https://codepen.io/olapli/pen/RgEwgm */
